@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background: #182029;  
}

h1.container {
    font-size: 30px;
    font-family: "Poppins";
    background: white;
    min-width: 4px;
    min-height: 4px;
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

h2.container {
    background: white;
    font-size: 30px;
    font-family: "Poppins";
    min-width: 20px;
    min-height: 20px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

li.h2 {
    align-items: center;
    justify-content: center;
}

a {
    color: mediumpurple;
}